$dark-color: #222831;
$light-color: #ffffff;
$box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 5px rgba(0, 0, 0, 0.2);
$box-shadow-inner: 0 0 50px -5px rgba(0, 0, 0, 0.25);
$border-radius: 10px;
$transition: 200ms ease;
$gradient: linear-gradient(to right, #ed6e4d 10%, #b12a5b 100%);
