$dark-color: #222831;
$light-color: #ffffff;
$primary-color: #ed6e4d;
$secondary-color: #b12a5b;
$box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 5px rgba(0, 0, 0, 0.2);
$box-shadow-inner: 0 0 50px -5px rgba(0, 0, 0, 0.25);
$border-radius-card: 10px;
$border-radius-button: 25px;
$transition: 200ms ease;
$gradient: linear-gradient(to right, $primary-color 10%, $secondary-color 100%);
