.weather-card {
    position: relative;
    height: 400px;
    width: 300px;
    color: $dark-color;
    background-color: $light-color;
    box-shadow: $box-shadow;
    border-radius: $border-radius-card;
    z-index: 1;
    transform: scale(1.05);

    // 3d animation - preserve 3d inner child elements (since this el was transformed)
    perspective: 1000px;
    transform-style: preserve-3d;

    @include flex(column, space-around, center);

    .weather-container {
        text-align: center;
        font-size: 2em;
        transition: $transition;

        .weather-icon {
            height: 125px;
            width: 125px;
        }
    }

    .date-location-container {
        width: 100%;
        transition: $transition;
        @include flex(row, space-around, flex-end);

        .date-container {
            .date-dayname {
                font-weight: 700;
            }
        }
    }
}
