@import "./mixins";
@import "./variables";
@import "./entryForm";
@import "./cardsContainer";
@import "./weatherCard";
@import "./infoCard";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

body {
    perspective: 1000px; // create 3d space for card rotation
    display: flex;
}

main {
    margin: auto;
    width: 100%;
}

h1 {
    text-align: center;
    color: $primary-color;
}

section {
    width: 100%;
}

.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

ul {
    list-style-type: none;
}

.location-icon {
    margin-right: 5px;
    height: 1em;
    width: 1em;
    stroke: currentColor;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    overflow: visible;
}

.container {
    @include flex();
    padding: 100px 0;
    margin: auto;
    max-width: 1024px;
    max-height: 1024px;
    width: 100%;
    height: 100%;

    @include responsive(landscape) {
        padding: 25px 0;
    }
}
